@import "shared";

.comment {
  @include flex-column(1rem);
  background-color: #EEEEEE;
  border-radius: 1rem;
  padding: 1.5rem;
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  animation: 0.5s ease appearance;
}

@keyframes appearance {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.comment__delete-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  background-image: url("../img/delete.png");
  background-size: contain;
  outline: none;
  border: none;
  cursor: pointer;
}

.comment__like {
  background-image: url("../img/like.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  filter: saturate(0%);
  transition: 0.4s filter ease;
}

.comment__like:hover {
  filter: saturate(50%)
}

.comment__like.active {
  filter: saturate(100%)
}